
@{
    ViewData["Title"] = "Articles";
}
<div class="main_bg">
    <!-- start main -->
    <div class="container">
        <h1 class="text-center">@ViewData["Title"] </h1>
        <div class="main">
            <div class="images_1_of_4 text-center">

                <h4><a>Operation Hangover</a></h4>
                <p class="para">Attackers of unknown origin conducted a large hacking operation on multiple companies from servers hosted in...</p>
                <a class="fa-btn btn-1 btn-1e">read more</a>
            </div>
            <hr />
            <div class="images_1_of_4 bg1 text-center">

                <h4><a>Singapore Military hack</a></h4>
                <p class="para">The Singaporean “I-net” System, a military’s air gapped dedicated web access system was attacked that...</p>
                <a class="fa-btn btn-1 btn-1e">read more</a>
            </div>
            <hr />
            <div class="images_1_of_4 bg1 text-center">

                <h4><a>Chelsea or Bradley Manning </a></h4>
                <p class="para">A Military Intelligence Analyst in Iraq from November 2009 to May 2010 Arrested for handling...</p>
                <a class="fa-btn btn-1 btn-1e">read more</a>
            </div>
            <hr />
            <div class="images_1_of_4 bg1 text-center">

                <h4><a>Edward Snowden</a></h4>
                <p class="para">A government contractor who leaked classified NSA documents to overall media outlets was working for Booz Allen Hamilton in 2013</p>
                <a class="fa-btn btn-1 btn-1e">read more</a>
            </div>
        </div>
    </div>
</div><!-- end main -->
